/*universal selector*/
*{
 padding:0;
 margin:0;;
}
body{
    background-image: linear-gradient(to right,#b35857,#8a79b7,#2b527d);
    background-size: contain;
     /*background-image: linear-gradient(#101010,#2b2b2b);*/
     /*the first three lines are all needed to make the perfect background image*/
    /*Make the gradient cover the entire body*/ 
     height: 100%;
     width: 95vw;
     user-select: none; /*eliminates the annoying blue select text*/
     overflow-x: hidden;
     font-family: "Roboto Condensed", sans-serif;
     display: flex;
 }
 .header{
    display: flex;
    height: 13vh;
    width: 100vw;
    justify-content: center;
    align-items:flex-end;
    margin-top: 1.5%;
 }

 .header2{
    display: flex;
    align-items: center;
    height: 14vh;
    width: 90vw;
    box-shadow: 3px 5px 5px 2px #00000046;
    background-color: #13131f;
    border: 3px solid #6e6e6e6f;
    border-radius: 15px;
    color: #f1f1f1;
    font-size: 1.5em;
    padding-right: 20px;
    background-image: url("c.png");


  }

  #head{
    font-size: 1.5em;
    border-radius: 15px;
    padding: 8px;
    margin-left: 1%;
    background-color: #63636300;
    border: solid transparent ;
    color: white;
  }

  #head:hover{
    border: solid 2px #43434374;
    transition: 0.5s ease-out;
    box-shadow: 0px 0px 8px 8px rgba(65, 65, 65, 0.342);
    backdrop-filter: blur(5px);
  }



 /* Fixed Positioning:
  When you set an element's position to fixed, it is positioned relative to the viewport.
  It will stay in the same position even if you scroll the page.
  
Absolute Positioning:
When you set an element's position to absolute, it is positioned relative to its nearest
 positioned (not static) ancestor.
  */
.search-container {
    position: absolute;
    right:6%; 
}
/*
flex-grow: It defines the ability for a flex item to grow
 if necessary. A higher value will allow the item to grow
more compared to other flex items within the same container.

flex-shrink: It defines the ability for a flex item to shrink
if necessary. A higher value will make the item shrink more 
compared to other flex items when there is limited space.

flex-basis: It defines the initial size of a flex item before
it starts to grow or shrink. It can be set to a specific length
(e.g., pixels or percentages) or one of the predefined values 
like "auto.So, "flex: 20;" would be shorthand for setting the 

"flex-grow" property to 20 and leaving "flex-shrink" and "flex-basis" 
with their default values. This means that the item can grow significantly
 compared to other items in the flex container.*/

#searchinput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /*topleft,topright,bottomright,bottomleft*/
    width: 100px;
    margin-left: 0; /*very imp to remove gap between search field and search bar\
    as input by default makes margin*/
}

#searchbutton {
    background-color: #ef9802;
    color: white;
    border: 1px solid #c9963f;
    border-radius: 0 4px 4px 0;
    padding: 10px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #ca7026;
}

.d{ 
    display: flex;
    flex-direction: column;
    background-color: #202020;
    border-radius: 25px;
    box-shadow: 3px 10px 10px 5px #00000052;
    overflow-y: auto;
    /* */
    width:auto;
    
}

.d:hover{ 
    background-color: #13131f;
    transition: 0.6s;
    border: 2.5px solid #848484;
    overflow:auto; /*scroll bar shows up when overflow*/
    /*if overflow: scroll; scroll bar always present doesn't need overflow to show up*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 5px #2b0b34; 
    border-radius: 10px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(52, 51, 51); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #411b3b; 
  }

.d:hover .down-d{ 
    color: #ffffff
}

.sub-d{
    height:50%;
    width: 100%;
    background-image: linear-gradient(to right,#ea7a42,#a56fa9);
    border-radius: 25px 25px 0px 0px;
}

.down-d{
 align-items: flex-end;
 height:40%;
 
 overflow-x: none;
 color:white;
 border-radius: 25px;
 padding: 7%;
}

.text::before{
 font-size: 1.8em;
 font-weight: bolder;
 font-family: "Roboto Condensed", sans-serif;
}

#road::before{
content: "Road & Infra";
}
#education::before{
content: "Education";
}
#job::before{
    content: "Jobs";
}
#business::before{
    content: "Business";
}
#healthcare::before{
    content: "Healthcare";
}
#social::before{
    content: "Social Welfare";
}
#legal::before{
    content: "Legal & Judicial";
}
#agriculture::before{
    content: "Agriculture, Rural Development";
}
#environment::before{
    content:"Environment and Conservation:";
}
#emergency::before{
    content:"Emergency services & mental health";
}
#it::before{
    content:"Information Technology";
}
#foreign::before{
    content:"Foreign Aid,Assistance:";
}
#tax::before{
    content:"Finance and Taxation";
}
#house::before{
    content:"Housing & Urban Development";
}
#consumer::before{
    content:"Consumer Protection:";
}


.text{
font-size: 0.9em;
font-weight: bolder;
font-family: "Roboto Condensed", sans-serif;
color: #ffff;
width: 100%;
word-wrap: break-word; 
}

.bodycontainer{
    width:100vw;
    padding-bottom: 20%;
}
.division{
    display: grid;
    grid-template-rows: repeat(5,500px);
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 100px;
    grid-column-gap: 90px;
    border: 5px dotted #f5f5f5;
    border-radius: 25px;
    padding: 3%;
    margin: 3% 5%;
    
    width:contain;
}


.footer{
    background-image: url("c2.png");
    
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    border-top:3px solid #575757;
}

#foottxt{
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 1.7em;
}


